/* リセットCSS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
ins {
    background-color:#fff;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#fff;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}



/* ヘッダー */

.header {
  background-color: #dcdcdc;
  padding: 15px 20px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  font-size: 25px;
  color: #333333;
}

.nav__btn{
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  color: #333333;
  margin-right: 10px;
}
.nav__btn:hover{
  background: grey;
}

.nav__logout{
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  color: #333333;
}

.nav__logout:hover{
  opacity: 0.5;
}

/* トップページ */
.main-container{
  width: 100%;
  background-color: #f2f8f8;
  padding: 40px 0 60px 0;
}

.swiper{
  width: 80%;
  margin: 0 auto;
  background-color: #000;
}

.swiper-slide img {
  width: 100%;
  height: 400px;
}

.buttons{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 50px auto 0;
}

.button-container{
  width: 150px;
  height: 70px;
  border-radius: 10px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination-button{
  color: #333333;
}

.record-button{
  color: #333333;
}

/* 新規登録画面 */
.registration-link{
  text-align: center;
}

.registration-form-label{
  display: block;
  font-size: 20px;
}

.registration-password-form-label{
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.registration-input-form{
  margin-bottom: 25px; 
  height: 30px;
  width: 500px;
}

.registration-actions{
  margin: 10px 0 20px 0;
  text-align: center;
}



/* ログイン画面 */

.title{
  font-size: 50px;
  text-align: center;
  padding: 40px 0 40px 0;
}

.email-form{
  height: 30px;
  width: 500px;
  margin-bottom: 20px; 
}

.form-label{
  font-size: 20px;
  display: block;
  margin: 10px 0 5px 0;
}

.field{
  width:500px;
  margin: 0 auto;
}

.actions{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.input-form{
  height: 30px;
  width: 500px;
  /*margin-bottom: 15px;*/
}

.devise-link-container{
  width: 450px;
  height:50px;
  margin:0 auto;
}

.devise-link{
  text-align: center;
}

/* 投稿画面 */

.record-text{
  height: 250px;
  width: 800px;
}

/* マイページ */



/* パスワード再設定画面 */
.resetting{
  width:500px;
  margin: 0 auto;
}

.resetting-email{
  font-size: 20px;
  display: block;
  margin: 10px 0 20px 0;
}

.resetting-email-form{
  height: 30px;
  width: 500px;
  margin-bottom: 10px; 
}


/* パスワード変更画面 */

.new-password-form{
  height: 30px;
  width: 500px;
  margin-bottom: 20px; 
}

.password-confirmation-form{
  height: 30px;
  width: 500px;
}



/* フッター */

.footer {
  background-color: #dcdcdc;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #333333;
  font-size: 10px;
}